[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "datrProfile"]
	path = datrProfile
	url = https://github.com/avitaliano/datrprofile
